<div class="col-md-8">
  <% if note.empty? %>
    <h4 class="message" align="center" > No Notes <br><br>
      <%= link_to 'Create', new_note_path , class: "btn btn-primary", remote: true %>
    </h4>

  <% else %>
    <table class="table" border="2" >
      <thead class="table-dark">
        <tr>
          <th><center>No.</center></th>
          <th><center>Title</center></th>
          <th><center>Description</center></th>
          <th colspan="3"><center>Actions</center></th>
        </tr>
      </thead>
      <tbody class="notes-index">
        <% no = 1%>
        <% note.each do |note| %>
          <tr class="table-info">
            <td>
              <%= no %>
            </td>
            <td class="text-dark">
              <%= note.title %>
            </td>
            <td>
              <%= note.description.html_safe %>
            </td>
            <td>
              <%= link_to 'Show',
               note,
               remote: true,
               class: "btn btn-info text-dark"
              %>
            </td>
            <td>
              <%= link_to 'Edit',
               edit_note_path(note),
               remote: true,
               class: "btn btn-primary text-dark"
              %>
            </td>
            <td>
              <%= link_to 'Delete',
                note,
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "btn btn-danger text-dark"
              %>
            </td>
          </tr>
          <% no += 1%>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
