<div class="container-fluid col col-md-4">
  <table border="1" class="table" width="500px">
    <tr>
      <td><strong><h2><%= note.title %></h2></strong></td>
    </tr>
    <tr>
      <td><%= note.description.html_safe %></td>
    </tr>
  </table>

  <%= link_to 'Edit note', edit_note_path(note), class: "btn btn-info" ,remote: true%>
</div>

<div class="container-fluid col col-md-4">
  <h2>Comment</h2>
  <%= render note.comments, note: note%>
  <div id="comment-form"></div>
  <p><%= render 'comments/new'%></p>
  <%= link_to "Cancel", "#", class: "btn btn-danger", data: {dismiss: "modal"} %>
</div>
