<div class="container-fluid">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
          <h1>Tagged Notes</h1>
        </div>

        <table class="table" border="2" >
          <thead class="table-dark">
            <tr>
              <th><center>No.</center></th>
              <th><center>Title</center></th>
              <th><center>Description</center></th>
              <th colspan="3"><center>Actions</center></th>
            </tr>
          </thead>
          <tbody class="notes-index">
            <% no = 1 %>
            <% notes.each do |note| %>
              <tr class="table-info">
                <td>
                  <%= no %>
                </td>
                <td class="text-dark">
                  <%= note.title.html_safe %>
                </td>
                <td>
                  <%= note.description.html_safe %>
                </td>
                <td>
                  <%= link_to 'Show',
                   note,
                   remote: true,
                   class: "btn btn-info text-dark"
                  %>
                </td>
                <td>
                  <%= link_to 'Edit',
                   edit_note_path(note),
                   remote: true,
                   class: "btn btn-primary text-dark"
                  %>
                </td>
                <td>
                  <%= link_to 'Delete',
                   note,
                   method: :delete,
                   data: { confirm: 'Are you sure?' },
                   class: "btn btn-danger text-dark"
                  %>
                </td>
              </tr>
              <% no += 1%>
            <% end %>
          </tbody>
        </table>

        <div class="modal-footer">
          <%= link_to "Cancel",
           "#",
           class: "btn btn-danger",
           data: {dismiss: "modal"}
          %>
        </div>

      </div>

    </div>

  </div>
</div>
