<!DOCTYPE html>
<html>
  <head>
    <title>NotesApplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if user_signed_in? %>

    <% else %>
      <p class="notice" align="center"><%= notice %></p>
      <p class="alert" align="center" ><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
